/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full height for app */
html, body, #__next {
  height: 100%;
}

/* Body styling */
body {
  background-color: #F9FAFB; /* tailwind bg-gray-50 */
  color: #111827; /* tailwind text-gray-900 */
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
